@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sahel";
  src: url("./assets/fonts/Sahel.ttf") format('ttf'),
  url("./assets/fonts/Sahel.woff") format('woff'),
  url("./assets/fonts/Sahel-FD.ttf") format('ttf'),
  url("./assets/fonts/Sahel-FD-WOL.ttf") format('ttf');
}

body {
  margin: 0;
  font-family:"Sahel", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
